body {
  background-color: rgba(236, 110, 76, 0.1);
}
.container {
  width: 600px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 30px;
  background-color: rgba(168, 166, 166, 0.2);
  border: 2px solid rgb(158, 62, 35);
  border-radius: 6px;
  box-shadow: 0px 6px 6px rgb(158, 62, 35, 0.2);
}
h1 {
  margin-top: 20px;
  font-size: 60px;
  text-align: center;
}

h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
form {
  width: 950px;
}

.icon {
  width: 85px;
  height: 85px;
}

ul {
  list-style: none;
}
li {
  margin-top: 6px;
}

.weather-components {
  display: block;
  font-size: 12px;
  width: 250px;
  max-height: 80px;
  position: relative;
  right: -272px;
  top: -120px;
  color: rgb(170, 47, 13);
  background-color: rgb(236, 110, 76, 0.4);
  margin-bottom: 0;
  border: 1px transparent #7786e7;
  border-radius: 5px;
}
.city-degree {
  font-size: 50px;
  padding-left: 40px;
}
.degree-type {
  font-size: 14px;
  position: relative;
  top: -60px;
  left: 105px;
  color: rgba(43, 41, 41, 1);
  transition: all 200ms ease-in-out;
}

.celcius-farenheit {
  color: black;
}

.celcius-farenheit:hover {
  cursor: default;
  color: black;
}

.active {
  color: rgb(170, 47, 13);
}
.active:hover {
  cursor: pointer;
}

.description {
  font-size: 15px;
  color: rgba(43, 41, 41, 1);
}
.day-time {
  font-size: 12px;
  color: rgba(43, 41, 41, 1);
  padding: 12px 0 0 0;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  left: -15px;
}
.forecast {
  position: absolute;
  width: 550px;
  top: 380px;
}
li:first-letter {
  text-transform: capitalize;
}
.forecast-day {
  font-size: 15px;
}
.forecast-icon {
  font-size: 28px;
}
.btn-primary {
  background-color: rgb(236, 110, 76);
  border: rgb(168, 166, 166);
  transition: all 200ms ease-in-out;
  padding: 7px 10px;
}
.btn:hover {
  background-color: rgba(168, 166, 166, 0.5);
}
.search {
  margin-top: 20px;
}
.forecast-temp {
  font-size: 12px;
}
.min-temp {
  color: rgb(95, 93, 93);
}
.code {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
